In [1]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [2]:
db = pd.read_csv('/home/cristina/Desktop/indicium/machine-failure/data/desafio_manutencao_preditiva_treino.csv')

In [3]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6667 entries, 0 to 6666
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   udi                    6667 non-null   int64
 1   product_id             6667 non-null   object
 2   type                   6667 non-null   object
 3   air_temperature_k      6667 non-null   float64
 4   process_temperature_k  6667 non-null   float64
 5   rotational_speed_rpm   6667 non-null   int64
 6   torque_nm              6667 non-null   float64
 7   tool_wear_min          6667 non-null   int64
 8   failure_type           6667 non-null   object
dtypes: float64(3), int64(3), object(3)
memory usage: 468.9+ KB

In [5]:
db.describe()

,udi,air_temperature_k,process_temperature_k,rotational_speed_rpm,torque_nm,tool_wear_min
count,6667.000000,6667.000000,6667.000000,6667.000000,6667.000000,6667.000000
mean,4994.589921,299.992515,309.992620,1537.419529,40.058512,108.098095
std,2896.125718,1.994710,1.488101,177.182908,9.950804,63.359915
min,1.000000,295.300000,305.700000,1168.000000,3.800000,0.000000
25%,2496.500000,298.300000,308.800000,1422.500000,33.200000,54.000000
50%,4983.000000,300.000000,310.000000,1503.000000,40.200000,108.000000
75%,7510.500000,301.500000,311.100000,1612.000000,46.800000,162.000000
max,10000.000000,304.500000,313.800000,2886.000000,76.600000,251.000000

In [15]:
db.groupby('type').count()

,udi,product_id,air_temperature_k,process_temperature_k,rotational_speed_rpm,torque_nm,tool_wear_min,failure_type
type,,,,,,,,
H,658,658,658,658,658,658,658,658
L,4022,4022,4022,4022,4022,4022,4022,4022
M,1987,1987,1987,1987,1987,1987,1987,1987